<div class="center">
    <span id=<%= variable %> class="fa fa-star "></span>
    <span id=<%= variable %>  class="fa fa-star "></span>
    <span id=<%= variable %> class="fa fa-star "></span>
    <span id=<%= variable %>  class="fa fa-star"></span>
    <span id=<%= variable %>  class="fa fa-star"></span>
</div>